html,
body {
  margin: 0;
  padding: 0;
}

body {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #eeeeee;
  color: #333333;
  width: 520px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
}

#todoapp {
  background: #fff;
  padding: 20px;
  margin-bottom: 40px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  -ms-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

#todoapp h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  padding: 0 0 10px 0;
}

#instructions {
  margin: 10px auto;
  color: #777777;
  text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
  text-align: center;
}

#instructions a {
  color: #336699;
}

#credits {
  margin: 30px auto;
  color: #999;
  text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
  text-align: center;
}

#credits a {
  color: #888;
}
