#todoapp footer {
  margin: 0 -20px -20px -20px;
  overflow: hidden;
  color: #555555;
  background: #f4fce8;
  border-top: 1px solid #ededed;
  padding: 0 20px;
  line-height: 37px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

#clear-completed {
  float: right;
  line-height: 20px;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.1);
  color: #555555;
  font-size: 11px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 0 10px 1px;
  cursor: pointer;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
  -ms-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
}

#clear-completed:hover {
  background: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
  -ms-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
}

#clear-completed:active {
  position: relative;
  top: 1px;
}

#todo-count span {
  font-weight: bold;
}
